.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    font-family : Jost,Helvetica,sans-serif;
    font-size: 13px;
  }
  
  .logo img {
    height: 45px;
    width: 220px;
    z-index: 1;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 17px;
  }
  
  .nav-links li {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #180a12d7;
  }
  
  .icons {
    display: flex;
    gap: 25px; 
  }